@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

@font-face {
  font-family: "aquire-font";
  src: url("/fonts/aquire-font/Aquire.otf") format("opentype");
  src: url("/fonts/aquire-font/AquireBold.otf") format("opentype");
  src: url("/fonts/aquire-font/AquireLight.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 0px;
  }
}

@layer components {
  .menu-link {
    @apply transition ease-in-out delay-150 font-primary text-right  hover:text-pink-500;
  }
}

@layer utilities {
  .font-primary {
    font-family: "aquire-font";
  }
}