@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
  }

  ::-webkit-scrollbar-track {
    background: black;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }
}

@layer components {
  .menu-link {
    @apply transition ease-in-out delay-150 font-primary text-right  hover:text-pink-500;
  }
}

@layer utilities {
  .font-primary {
    font-family: "aquire-font";
    src: url("/aquire-font/Aquire-BW0ox.ttf");
    src: url("/aquire-font/AquireBold-8Ma60.ttf");
    src: url("/aquire-font/AquireLight-YzE0o.ttf");
  }
}



@font-face {
  font-family: "aquire-font";
  src: url("/aquire-font/Aquire-BW0ox.ttf");
  src: url("/aquire-font/AquireBold-8Ma60.ttf");
  src: url("/aquire-font/AquireLight-YzE0o.ttf");
}
